[user]
name = Nick Spreen
email = 12631527+yspreen@users.noreply.github.com
[init]
defaultBranch = main
[filter "lfs"]
process = git-lfs filter-process
required = true
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
